alabaster==1.0.0
altgraph==0.17.4
astroid==3.3.9
babel==2.17.0
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
contourpy>=1.2.1
cssselect2==0.8.0
cycler==0.12.1
data==0.4
decorator==5.2.1
dill==0.3.9
docutils==0.21.2
fonttools==4.53.0
funcsigs==1.0.2
future==1.0.0
idna==3.10
imagesize==1.4.1
isort==6.0.1
Jinja2==3.1.6
kiwisolver>=1.4.5
latex==0.7.0
MarkupSafe==3.0.2
matplotlib>=3.9.0
mccabe==0.7.0
numpy>=1.26.4
packaging==24.0
pillow>=10.3.0
platformdirs==4.3.7
plotly==5.22.0
psutil==5.9.8
pycparser==2.22
pydyf==0.11.0
Pygments==2.19.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
pylint==3.3.6
pyparsing==3.1.2
pyphen==0.17.2
pyqtgraph==0.13.7
PySide6>=6.7.1
PySide6_Addons>=6.7.1
PySide6_Essentials>=6.7.1
python-dateutil==2.9.0.post0
QDarkStyle==3.2.3
QtPy==2.4.3
requests==2.32.3
roman-numerals-py==3.1.0
sarpy>=1.3.58
sarpy_apps>=1.1.23
scipy>=1.13.1
setuptools==78.1.0
shapely==2.0.7
shiboken6>=6.7.1
shutilwhich==1.1.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==8.2.3
sphinx-autodoc-typehints==3.1.0
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tempdir==0.7.1
tenacity==8.3.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tk_builder==1.1.12
tomlkit==0.13.2
urllib3==2.3.0
weasyprint==65.0
webencodings==0.5.1
zopfli>=0.2.3.post1
